*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: solid black 1px;
}
.youtube-container{
    display: grid;
    grid-template:
    "youtube-guider-bar youtube-top-bar" 20px
    "youtube-guider-bar youtube-chips-bar" 20px
    "youtube-guider-bar youtube-main" 1fr/
     20px               1fr;
     grid-gap: 5px;
      width: 100vw;
}
/* .youtube-guider-bar{
    grid-area: youtube-guider-bar;
} */
.youtube-top-bar{
    grid-area: youtube-top-bar;
}
/* .youtube-chips-bar{
    grid-area: youtube-chips-bar ;
}
.youtube-main{
    grid-area: youtube-main;
} */







.youtube-top-bar {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 300px;
    justify-items: center;
    padding: 10px 0;
  }
  .youtube-top-bar-start {
    justify-items: start;
    width: 100%;
  }
  .youtube-top-bar-start img {
    width: 100px;
  }
  .youtube-top-bar-center {
    display: grid;
    grid-template-columns: 1fr repeat(2, 50px);
    gap: 10px;
    justify-content: center;
    align-content: center;
    height: 30px;
  }
  input {
    height: 100%;
    width: 550px;
    font-size: 1rem;
  }
  button img {
    height: 20px;
  }
  .microphone {
    padding: 3px;
    width: 40px;
  }
  .youtube-top-bar-end {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    gap: 25px;
    justify-content: end;
    align-content: end;
  }

  .upload,
  .notifications,
  .apps,
  .profile {
    height: 20px;
    margin-left: 1rem;
    border-radius: 50px;
  }
  .youtube-top-bar {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 300px;
    justify-items: center;
    padding: 10px 0;
}
  .youtube-top-bar-start {
    justify-items: start;
    width: 100%;
}
  .youtube-top-bar-start img {
    width: 100px;
}
  .youtube-top-bar-center {
    display: grid;
    grid-template-columns: 1fr repeat(2, 50px);
    gap: 10px;
    justify-content: center;
    align-content: center;
    height: 30px;
}
  input {
    height: 100%;
    width: 550px;
    font-size: 1rem;
}
  button img {
    height: 20px;
}
  .microphone {
    padding: 3px;
    width: 40px;
}
  .youtube-top-bar-end {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    gap: 25px;
    justify-content: end;
    align-content: end;
}

  .upload,
  .notifications,
  .apps,
  .profile {
    height: 20px;
    margin-left: 1rem;
    border-radius: 50px;
}















.youtube-chips-bar{
    padding: 10px;
   
    list-style: none;
}


.youtube-chips-bar li{
    height: 100%;
    float: left;
    margin: 10px;
    
}
.youtube-chips-bar li a{
    display: block;
    text-decoration: none;
    padding: 5px;
    
}



.youtube-guider-bar{
    padding: 10px;
    list-style: none;
}
.youtube-guider-bar li{
    width: 100%;
    margin: 10px;
}
.youtube-guider-bar li a{
    display: block;
    text-decoration: none;
    padding: 5px;
}

.youtube-main{
    display: grid;
    grid-template-rows: repeat(2, auto);
    height: 100vh;
}
.youtube-main-start {
    display: grid;
    grid-template-columns: repeat(4,auto);
}
.youtube-main-end{
    display: grid;
    grid-template-columns: repeat(4,auto);
}